<div class="column is one-quarter">
    <nav class ="panel">
        <p class="panel-heading">Trending Topics</p>
        <a class= "panel-block">
            Sea Games
        </a>
        <a class= "panel-block">
            Digong, buntis!
        </a>
        <a class= "panel-block">
            CSI Best Org
        </a>
        <a class= "panel-block">
            Ivan Pogi
        </a>
        <a class= "panel-block">
            Kaldero ni mama, 50 pesos
        </a>
        <a class= "panel-block">
            Nigs Canteen naubusan ng kutsara
        </a>
        <a class= "panel-block">
            Letter Y tinanggal sa Alphabet
        </a>
        <a class= "panel-block">
            3peat
        </a>
        
    </nav>
</div>